attrs==17.4.0
click==6.7
coverage==4.4.2
Flask==0.12.2
Flask-PyMongo==0.5.1
funcsigs==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mock==2.0.0
numpy==1.14.0
pandas==0.22.0
pbr==3.1.1
pluggy==0.6.0
pprintpp==0.3.0
py==1.5.2
pycountry==17.9.23
pycountry-convert==0.6.5
pymongo==3.6.0
pytest==3.3.2
pytest-cov==2.5.1
pytest-mock==1.6.3
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
Werkzeug==0.14.1
